@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

body{
    background-color: rgb(233, 231, 218);
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}


header{
    justify-content: space-around;
    display: flex;
    padding: 30px;
}

img{
    width: 70vh;
    display: block;

    margin: -7.7% auto;
}

.uno{
    background-color: rgb(216, 214, 204);
    position: absolute;
    width: 20%;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
    left: 22%;
    top: 20%;
    font-weight: 400;
    z-index: -1;
    padding-right: 4%;
    padding-left: 2%;
}

.dos{
    background-color: rgb(57, 62, 68);
    position: absolute;
    left: 0%;
    top: 40%;
    padding: 15px;
    padding-right: 20%;
    padding-left: 24%;
    color: white;
    font-weight: 300;
    font-size: 13px;
    height: 10.6%;
    z-index: -4;
}
.dos p{
    margin-top: 8%;
}
.fondo{
    color: rgb(233, 231, 218);
    position: absolute;
    left: 49%;
    top: 40%;
    background-color: rgb(216, 214, 204);
    padding-left: 10px;
    font-size: 61px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
    padding-right: 0.21%;
    z-index: -1;
}
.tres{
    position: absolute;
    left: 55%;
    top: 45%;
    font-weight: 400;
    margin-left: 4%;
}
.cuatro{
    position: absolute;
    left: 54.8%;
    top: 70%;
    background-color: rgb(57, 62, 68);
    color: white;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 400;
    z-index: -2;
    font-size: 170%;
}
.ocho,.cien,.infinito{
    position: absolute;
    top: 86%;
    font-size: 40px;
}
.ocho,.abajoo{
    left: 20%;
    color: rgb(57, 62, 68);
}
.cien,.abajoc{
    left: 45%;
    color: white;
}
.infinito,.abajoi{
    left: 65%;
    color: rgb(57, 62, 68);
}
.abajoo,.abajoc,.abajoi{
    position: absolute;
    top: 92%;
}
.infinito{
    top: 84% ;
    font-size: 380%;
    font-weight: 800;
}